import libraries

In [47]:
import pandas as pd
import numpy as np
from xgboost import XGBRegressor
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix, mean_absolute_error, r2_score

import dataset on workspace

In [2]:
df = pd.read_csv("/content/russia_losses_equipment.csv")

In [3]:
df.shape

(59, 15)

In [4]:
df.head()

,date,day,aircraft,helicopter,tank,APC,field artillery,MRL,military auto,fuel tank,drone,naval ship,anti-aircraft warfare,special equipment,mobile SRBM system
0,2022-02-25,2,10,7,80,516,49,4,100,60,0,2,0,NaN,NaN
1,2022-02-26,3,27,26,146,706,49,4,130,60,2,2,0,NaN,NaN
2,2022-02-27,4,27,26,150,706,50,4,130,60,2,2,0,NaN,NaN
3,2022-02-28,5,29,29,150,816,74,21,291,60,3,2,5,NaN,NaN
4,2022-03-01,6,29,29,198,846,77,24,305,60,3,2,7,NaN,NaN

In [5]:
df.drop(columns=["special equipment","mobile SRBM system","date"],axis=1,inplace=True)

In [6]:
df.head()

,day,aircraft,helicopter,tank,APC,field artillery,MRL,military auto,fuel tank,drone,naval ship,anti-aircraft warfare
0,2,10,7,80,516,49,4,100,60,0,2,0
1,3,27,26,146,706,49,4,130,60,2,2,0
2,4,27,26,150,706,50,4,130,60,2,2,0
3,5,29,29,150,816,74,21,291,60,3,2,5
4,6,29,29,198,846,77,24,305,60,3,2,7

In [7]:
x = df.drop(columns="day",axis=1)
y = df["day"]

In [8]:
print(x.shape,y.shape)

(59, 11) (59,)

splitting the data as train and test

In [12]:
x_train,x_test,y_train,y_test = train_test_split(x, y, test_size=0.15, random_state=2)

pre-processing the features for better prediction system

In [13]:
scaler = StandardScaler()

In [14]:
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

creating the models

In [15]:
model_xgb = XGBRegressor()
model_linear_reg = LinearRegression()

In [16]:
model_xgb.fit(x_train,y_train)
model_linear_reg.fit(x_train,y_train)

[10:55:50] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

LinearRegression()

In [17]:
y_pred_xgb = model_xgb.predict(x_test)
y_pred_linear = model_linear_reg.predict(x_test)

checking the r2 score and mean absolute error

In [19]:
r2_score(y_test,y_pred_xgb)

0.993334885629921

In [20]:
r2_score(y_test,y_pred_linear)

0.9978552082481206

In [21]:
mean_absolute_error(y_test,y_pred_linear)

0.4862360224023175

In [22]:
mean_absolute_error(y_test,y_pred_xgb)

1.1874068048265245

In [29]:
x.columns

Index(['aircraft', 'helicopter', 'tank', 'APC', 'field artillery', 'MRL',
       'military auto', 'fuel tank', 'drone', 'naval ship',
       'anti-aircraft warfare'],
      dtype='object')

In [48]:
# Prediction system
input = (279,254,1073,3238,508,247,2557,96,291,8,72)
print("LOSSED IN RUSSIAN ARMY;\n",input[0],"aircraft\n",input[1],"helicopter\n",input[2],"tank\n",input[3],"APC\n",input[4],"field artillery\n",input[5],"MRL\n",input[6],"military auto\n",input[7],"fuel tank\n",input[8],"drone\n",input[9],"naval ship\n",input[10],"anti-aircraft warfare")
asarray = np.asarray(input)
asarray = asarray.reshape(1,-1)
asarray = scaler.transform(asarray)
prediction2 = model_linear_reg.predict(asarray)
prediction2 = int(prediction2)

print("WAR DAY (Linear Regression)= ",prediction2)

LOSSED IN RUSSIAN ARMY;
 279 aircraft
 254 helicopter
 1073 tank
 3238 APC
 508 field artillery
 247 MRL
 2557 military auto
 96 fuel tank
 291 drone
 8 naval ship
 72 anti-aircraft warfare
WAR DAY (Linear Regression)=  88

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"